.none {
  animation: bounceOutRight 2s;
}
.not {
  display: none;
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
.lock-main {
  position: absolute;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3000;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-family: 'Heiti SC', 'Helvetica', 'HelveticaNeue', 'Arial';
}
.cover-black {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3000;
  background-color: black;
}
.bounceOut {
  animation: bounceOut 1.5s;
}
.zoomOut {
  animation: zoomOut 1.5s;
}
h2 {
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}
.point-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  margin-top: 5px;
}
.plist-shakes {
  animation: shakes 1.2s ease-in-out;  
}
.point {
  margin: 6px;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: background ease 1s;
}
.fill-point {
  background: #fff;
}

.ppoint-list {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ppoint {
  display: block;
  cursor: pointer;
  margin: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: 50%;
  z-index: 5;
  opacity: 0;
}
.num {
  line-height: 1;
  margin-top: 8px;
}
.letter {
  margin-top: -3px;
  font-size: 12px;
  transform: scale3d(.8, .8, 1);
}
.ppoint:active {
  background-color: #ccc;
}

.not-pass {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 28px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.not-pass a {
  cursor: pointer;
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  to {
    opacity: 0;
  }
}
@keyframes bounceOut {
  20% {
    transform: scale3d(.7, .7, .7);
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(.3, .3, .3);
  }
  to% {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes shakes {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}